@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #282c34;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.heading{
  font-size: 22px;
  font-weight: 600;
}

header{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cad3ff;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.logo{
  width: 35px;
  margin-right: 10px;
}

.selection-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-input{
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  height: 5px;
  margin: 0;
  padding: 0;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  margin-top: 20px;
  width: 180px;
  height: 28px;
  background-color: rgb(190, 251, 238);
  color: #282c34;
  border: none;
  font-weight: 500;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  cursor: pointer;
  background-color: aquamarine;
  color: black;
}

.input-p{
  margin-right: 10px;
}

.algo-process-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

select{
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 160px;
  height: 25px;
  background-color: rgb(243, 255, 188);
}

.bars{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#array_container{
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 300px;
  padding: 0 5px;
  transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
}

.sorting-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.algo-btn{
  width: 140px;
  background-color: rgb(253, 123, 123);
}

.algo-btn:hover{
  background-color: rgb(253, 83, 83);
  color: white;
}

@media only screen and (max-width: 660px) {
  .selection-container{
    flex-direction: column;
  }
  .input-p{
    margin-bottom: 20px;
  }

  .btn{
    margin-top: 0px;
  }
  
  .algo-btn{
    margin-top: 15px;
  }
  input{
    margin-bottom: 20px;
  }
  .sorting-container{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .selection-container{
    flex-direction: column;
  }
  .speed-input{
    flex-direction: column;
    margin-bottom: 5px;
  }
  .array-input{
    margin-top: 5px;
    flex-direction: column;
  }
  .input-p{
    margin-bottom: 5px;
  }

  .btn{margin-top: 0px;}
  .algo-btn{
    margin-top: 10px;
  }
  input{
    margin-bottom: 10px;
  }
  .sorting-container{
    margin-top: 20px;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

footer a{
  color: yellow;
  text-decoration: none;
}

footer p{
  margin-top: 5px;
}